<h2> Gio Hang</h2>
<a href="@Url.Action("Index","Product")">tiep tuc mua hang</a>
<table class="table">
    <thead>
        <tr>
            <th>ten san pham</th>
            <th>hinh san pham</th>
            <th>gia</th>
            <th>so luong</th>
            <th>thanh tien</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                chua co san pham nao..........
            </td>
        </tr>
    </tbody>
</table>
